<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="msm.msmsend.master.mapper.smsMapper">
<select id="getTable" resultType="msm.msmsend.dto.smsDto">
    SELECT
        no1,
        name,
        number,
        groupname
    FROM
        user
</select>
    <select id="getText" resultType="string">
        select
            text
        from
            send_text
    </select>
</mapper>