<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="msm.msmsend.slave.mapper.slaveMapper">
    <insert id="kakaoInsert1" parameterType="string">
        <![CDATA[ INSERT  into
                      kakao.BIZ_MSG(MSG_TYPE,
                                    CMID,
                                    REQUEST_TIME,
                                    SEND_TIME,
                                    DEST_PHONE,
                                    SEND_PHONE,
                                    TEMPLATE_CODE,
                                    SENDER_KEY,
                                    NATION_CODE,
                                    RE_TYPE,
                                    RE_BODY,
                                    CINFO,
                                    SUBJECT,
                                    MSG_BODY)
                  values ( '6',
                           concat('BIO_', date_format (now(), '%Y-%m-%d_%H:%m:%s') , '_', truncate(rand()* 1000, 2) ),
                           now(),
                           now(),]]>
                           #{phoneNum},
  <![CDATA['02-2660-4148',
                           'ITSystem04',
                           '9b2ed0e285e83bb0e70ae10be4c4a55e1dd1c39f',
                           '82',
                           'MMS',]]>
                           #{MMS},
                           'BIO',
                           #{KAC},
                           #{MMS})
    </insert>
</mapper>